.header {
  width: inherit;

  &__navbar {
    width: inherit;

    &__list {
      display: flex;
      flex-direction: row;
      padding: 0.8rem 0;
      margin: 0 1rem;
      justify-content: flex-end;
      align-items: center;
      list-style: none;

      &--item {
        color: rgba(0, 0, 0, 0.87);
        cursor: pointer;
        display: flex;
        margin-left: 1.2rem;
        font-size: 0.8rem;

        & a {
          text-decoration: none;
          color: inherit;
        }

        & a:visited {
          text-decoration: none;
          color: inherit;
        }

        &-img {
          width: 2rem;
          border-radius: 50%;
        }
      }
    }
  }
}
